<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <title>Polyop "Ceremony" Video - Single out 31st October</title>
    	<meta name="description" content="Polyop 'Ceremony' - Interactive Music Video - Single out 31st October">
        <style>

        	@-webkit-keyframes fadeIn {
        		0% {
        			opacity: 0;
        		}
        		100% {
        			opacity: 1;
        		}
        	}
  
        	@keyframes fadeIn {
        		0% {
        			opacity: 0;
        		}
        		100% {
        			opacity: 1;
        		}
        	}
  
        	@-webkit-keyframes spin {
        		0% {
        			-webkit-transform: rotate(0);
        			        transform: rotate(0);
        		}
        		100% {
        			-webkit-transform: rotate(360deg);
        			        transform: rotate(360deg);
        		}
        	}
  
        	@keyframes spin {
        		0% {
        			-webkit-transform: rotate(0);
        			        transform: rotate(0);
        		}
        		100% {
        			-webkit-transform: rotate(360deg);
        			        transform: rotate(360deg);
        		}
        	}

        	@-webkit-keyframes look {
				0% {
					-webkit-transform: rotateY(0);
					        transform: rotateY(0);
				}

				20% {
					-webkit-transform: rotateY(-45deg);
					        transform: rotateY(-45deg);
				}

				50% {
					-webkit-transform: rotateY(45deg);
					        transform: rotateY(45deg);
				}

				70% {
					-webkit-transform: rotateX(30deg);
					        transform: rotateX(30deg);
				}

				90% {
					-webkit-transform: rotateX(0);
					        transform: rotateX(0);
				}
        	}

        	@keyframes look {
				0% {
					-webkit-transform: rotateY(0);
					        transform: rotateY(0);
				}

				20% {
					-webkit-transform: rotateY(-45deg);
					        transform: rotateY(-45deg);
				}

				50% {
					-webkit-transform: rotateY(45deg);
					        transform: rotateY(45deg);
				}

				70% {
					-webkit-transform: rotateX(30deg);
					        transform: rotateX(30deg);
				}

				90% {
					-webkit-transform: rotateX(0);
					        transform: rotateX(0);
				}
        	}

        	@-webkit-keyframes wiggle {
				0% {
					-webkit-transform: translate();
					        transform: translate();
				}

				20% {
					-webkit-transform: translate(0.5rem, 0.5rem);
					        transform: translate(0.5rem, 0.5rem);
				}

				50% {
					-webkit-transform: translate(-0.2rem, 0.2rem);
					        transform: translate(-0.2rem, 0.2rem);
				}

				70% {
					-webkit-transform: translate(0.5rem, -0.2rem);
					        transform: translate(0.5rem, -0.2rem);
				}

				90% {
					-webkit-transform: rotateX(0);
					        transform: rotateX(0);
				}
        	}

        	@keyframes wiggle {
				0% {
					-webkit-transform: translate();
					        transform: translate();
				}

				20% {
					-webkit-transform: translate(0.5rem, 0.5rem);
					        transform: translate(0.5rem, 0.5rem);
				}

				50% {
					-webkit-transform: translate(-0.2rem, 0.2rem);
					        transform: translate(-0.2rem, 0.2rem);
				}

				70% {
					-webkit-transform: translate(0.5rem, -0.2rem);
					        transform: translate(0.5rem, -0.2rem);
				}

				90% {
					-webkit-transform: rotateX(0);
					        transform: rotateX(0);
				}
        	}

        	html {
        		height: 100%;
        	}

        	body {
        		height: 100%;
				margin: 0;
				background: #4f6ab1;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				color: white;
				font-size: 20px;
			}

			audio {
				display: none; 
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 100;
			}

			canvas {
				-webkit-animation: 1s fadeIn;
				        animation: 1s fadeIn;
			}

			a {
				color: white;
				text-decoration: none;
				font-size: 1rem;
			}

			a:hover {
				text-decoration: underline;
			}

			.button {
				display: inline-block;
				background: white;
				padding: 1rem;
				text-transform: uppercase;
				color: #4f6ab1;
				font-size: 1.2rem;
				margin-bottom: 0.5rem;
				-webkit-transition: 0.2s;
				transition: 0.2s;
			}

			.button:hover {
				-webkit-transform: scale(1.1);
				        transform: scale(1.1);
				text-decoration: none;
			}

			.debug-visualiser {
				display: none;
			}

			.text {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				z-index: 101;
				/* display: none; */
			}

			.intro {
				width: 70%;
				text-align: center;
			}

			.status {
				text-transform: uppercase;
				margin-top: 1rem;
				font-size: 0.8rem;
				display: block;
			}

			.loading {
				-webkit-animation: fadeIn 1s alternate infinite;
				        animation: fadeIn 1s alternate infinite; 
				margin: 0 auto;
			}


			.icon {
				width: 5rem;
				margin: 0 auto;
				text-transform: uppercase;
			}

			.play {
				position: relative;
				opacity: 0.7;
				cursor: pointer;
				-webkit-transition: 0.3s;
				transition: 0.3s;
				z-index: 100;
			}

			.play:hover {
				opacity: 1;
			}

			.dg.ac {
				z-index: 100 !important;
				display: none;
			}

			.hint-container {
				position: absolute;
				width: 100vw;
				bottom: 5%;
				left: 0;
				z-index: 100;
				-webkit-perspective: 500px;
				        perspective: 500px;
				opacity: 0;
				-webkit-transition: 0.3s;
				transition: 0.3s;
			}

			.hint {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				display: -webkit-flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				font-size: 1rem;
			}

			.hint-mobile {
			/*	display: none;*/
			}

			.is-mobile .hint-mobile {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
			}

			.is-mobile .hint-mouse {
				display: none;
			}

			.hint-container.show {
				opacity: 1;
			}

			.hint svg {
				-webkit-box-flex: 0;
				    -ms-flex: 0 0 3rem;
				        flex: 0 0 3rem;
				-webkit-flex: 0 0 3rem;
				margin-right: 1rem;
				width: 3rem;
			}

			.hint p {
				-webkit-box-flex: 0;
				    -ms-flex: 0 0 auto;
				        flex: 0 0 auto;
				-webkit-flex: 0 0 auto;
			}

			.hint-mobile svg {
				-webkit-animation: look 4s infinite ease-in-out;
				        animation: look 4s infinite ease-in-out;
			}

			.hint-mouse svg {
				-webkit-animation: wiggle 4s infinite ease-in-out;
				        animation: wiggle 4s infinite ease-in-out;
			}

			.landscape-warning {
				font-size: 1.5rem;
			}


			@media all and (orientation:landscape) {
			 	.landscape-warning {
			 		display: none;
			 	}
			}

			@media all and (orientation:portrait) {
			 	.landscape-warning {
			 		display: block;
			 	}
			}

			.sticker {
				border-radius: 1000px;
				border: 3px solid white;
			}

			.sell-container {
				position: fixed;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				text-align: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				display: -webkit-box;
				display: -ms-flexbox;
				display: none;
				background: rgba(0,0,0,0.5);
				color: white;
				text-decoration: none;
				-webkit-animation: fadeIn 0.3s;
				        animation: fadeIn 0.3s;
			}

			.sell-container.show {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
			}
			
			.sell-container img {
				
				width: 250px;
			}

			.sell-container > a {
				width: 250px;
				-webkit-box-flex: 0;
				    -ms-flex: 0 0 250px;
				        flex: 0 0 250px;
				-webkit-flex: 0 0 250px;
				margin-right: 1rem;
			}


			@media all and (min-height: 500px) {

			 	.sell-container > a {

			 		margin-right: 2rem;

			 		-webkit-box-flex: 0;
					    -ms-flex: 0 0 400px;
					        flex: 0 0 400px;
					-webkit-flex: 0 0 400px;
			 	}

			 	.sell-container img {
			 		width: 400px;
			 	}
			}


			@media all and (max-width: 500px) {

				.sell-container {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					-webkit-flex-direction: column;
				}

				.sell-container > a {
				
					padding: 1rem;
					margin-right: 0;
					-webkit-box-flex: 0;
					    -ms-flex: 0 0 250px;
					        flex: 0 0 250px;
					-webkit-flex: 0 0 250px;
					width: 250px;
				}

				.sell-container img {
					width: 250px;
				}
			}

			.hide {
				display: none;
			}
        </style>
    </head>
    <body>
		
		<div class="text">
	    	<div class="intro">
				<p class="landscape-warning hide"><strong>For best results, please rotate your device to landscape.</strong></p>

	    		<div class="icon">
					<svg class="loading" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 366 366" enable-background="new 0 0 366 366" xml:space="preserve">
					<g>
						<path fill="#FFFFFF" d="M281.9,52.8L105.6,0L0,158.4l65,182.8l177.4,6.7L366,218.8L281.9,52.8z M331.6,170.2l-57-89l4-15.4
							L331.6,170.2z M238.4,336.7L50.3,186.9L269.7,85.2L238.4,336.7z M270.9,78.4l-121-56.1L275.7,60L270.9,78.4z M109.3,10.2l11.2,3.4
							l146.6,67.9L50,182.2L106.8,14L109.3,10.2z M45.2,183L9.7,159.6L97.4,28L45.2,183z M44.3,187.6l16.9,116.9L12.1,166.4L44.3,187.6z
							 M68.7,325.5L49.3,191.7l184.9,147.2l-162.9-6.2L68.7,325.5z M243.1,334.7l30.7-246.9l77.7,121.4l4,8L243.1,334.7z"/>
					</g>
					</svg>

					<svg class="play hide" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
				
					<path fill="#FFFFFF" d="M256 0c-141.385 0-256 114.615-256 256s114.615 256 256 256 256-114.615 256-256-114.615-256-256-256zM256 464c-114.875 0-208-93.125-208-208s93.125-208 208-208 208 93.125 208 208-93.125 208-208 208zM192 144l192 112-192 112z"></path>
					</svg>
				</div>
				<span class="status">Loading Scripts</span>
				<p>This is an audio-visual experience, <strong>please turn on your sound.</strong> Headphones recommended.</p>
	    	</div>

	    	<div class="sell-container" data-sell>
				

				<a href="https://polyop.bandcamp.com/merch/ceremony-vinyl-only" onclick="trackOutboundLink('https://polyop.bandcamp.com/merch/ceremony-vinyl-only'); return false;">
					<img class="sticker" src="sticker.jpg">
				</a>
				<div>
					<h2>Polyop - Ceremony</h2>
					<p><a href="https://polyop.bandcamp.com/merch/ceremony-vinyl-only" class="button" onclick="trackOutboundLink('https://polyop.bandcamp.com/merch/ceremony-vinyl-only'); return false;">Order Vinyl Now</a></p>
					<p><a href="https://github.com/funwithtriangles/polyop-ceremony/">View source on Github</a></p>
				</div>
			

			</div>
		</div>

		<div class="hint-container">
			<div class="hint-mobile hint hide">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">

					<path fill="#FFFFFF" d="M368 0h-224c-26.4 0-48 21.6-48 48v416c0 26.4 21.6 48 48 48h224c26.4 0 48-21.6 48-48v-416c0-26.4-21.6-48-48-48zM192 24h128v16h-128v-16zM256 480c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32zM384 384h-256v-320h256v320z"></path>
				</svg>
				<p>Tilt or drag to look around</p>
			</div>

			<div class="hint-mouse hint">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">

					<svg fill="#FFFFFF" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
					<path d="M397.759 318.145l-76.8-128c-35.532-59.222-111.393-79.334-171.395-46.317-12.93-23.235-21.564-45.225-21.564-63.828 0-17.485 3.79-40.151 21.843-48.83 1.368-0.658 3.435-1.651 5.47-3.687 6.249-6.249 6.249-16.379 0-22.628-5.266-5.266-13.29-6.094-19.421-2.484-25.726 12.414-39.892 39.978-39.892 77.629 0 25.991 11.055 54.009 27.449 82.79-42.94 40.348-53.559 106.479-22.008 159.065l76.8 128c24.001 40.003 66.395 62.164 109.88 62.164 22.411 0 45.118-5.891 65.734-18.26 60.619-36.37 80.275-114.996 43.904-175.614zM236.069 297.825c-4.576 2.912-9.688 4.303-14.737 4.303-9.090 0-17.985-4.503-23.228-12.74l-36.771-57.782c-8.153-12.813-4.376-29.811 8.438-37.965 12.812-8.154 29.81-4.377 37.965 8.437l36.771 57.782c8.153 12.814 4.376 29.811-8.438 37.965z"></path>
					</svg>

				</svg>
				<p>Move mouse to look around</p>
			</div>

		</div>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 	ga('create', 'UA-60252396-1', 'auto');
	  	ga('send', 'pageview');

		function trackOutboundLink(url) {
		   ga('send', 'event', 'outbound', 'click', url, {
		     'transport': 'beacon',
		     'hitCallback': function(){document.location = url;}
		   });
		}

        function loadScript(src, callback)
		{
		  var s,
		      r,
		      ts,
		      t;
		  r = false;
		  s = document.createElement('script');
		  s.type = 'text/javascript';
		  s.src = src;
		  s.onload = s.onreadystatechange = function() {

		    if ( !r && (!this.readyState || this.readyState == 'complete') )
		    {
		      r = true;
		    //  callback();
		    }
		  };
		  ts = document.getElementsByTagName('script');
		  t = ts[ts.length-1];
		  t.parentNode.insertBefore(s, t.nextSibling);
		}
		
		loadScript('bundle.js');


        </script>



    </body>
</html>